*{
    background-color: rgb(53, 14, 90);
}

#canvas {
    background-color: rgb(53, 14, 90);
}







/*
#ponto {
    font-size: 100px;
    color: white;
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0);
}

#ponto2 {
    font-size: 100px;
    position: relative;
    bottom: 115px;
    color: white;
    opacity: 0%;
    background-color: rgba(0, 0, 0, 0);
}
*/